
  .root {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .card {
    margin: 20px;
    width: 600px;
    height: auto;
    min-height: 600px;
  }

  .title {

    color: darkcyan!important; 
    text-align: center;
  }

  .form {
    display: flex;
    text-align: center;
  }

  .button {
    margin-left: 10px!important;
    background-color:darkcyan!important; 
    color:#FFF!important;
  }

  .textField {
    width: 300px;
  }

  .listStyle {

    list-style-type: none;
    position: absolute;
    left: -20%;
  }


  li.isDone {
    text-decoration: line-through!important;
    color: #ccc!important;
    
  }