
  .root {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .card {
    margin: 20px;
    width: 600px;
    height: auto;
    min-height: 600px;
  }

  .title {

    color: darkcyan!important; 
    text-align: center;
  }

  .form {

    text-align: center;
  }

  .button {
    margin-left: 10px!important;
    background-color:darkcyan!important; 
    color:#FFF!important;
  }

  .textField {
    width: 350px;
  }

  .listStyle {

    list-style-type: none;
  }

  Checkbox {
    color: #777!important;
  }
  .check:checked {
    color: #777!important; 
  }